* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html {
  scrollbar-gutter: stable;
}
html, body {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
} */

/* Variabili */
/* Tema chiaro (default) */
[data-theme="light"] {
    --bg-color: #00a8c6;
    --bg-color_btn-input: #e7e7e7;
    --icon-color: #00a8c6;
    --h-a-li-input: #000000;
    --color0: #e7e7e7;
    --color1: #f0c864;
    --color2: #ed9dff;
    --color3: #494949;
    --color3_Op1: #7b7b7b1a;
    --text-p-color: #000000;
    --text-s-color: #f09c00;
    --text-t-color: #000000;
    --border-color0: #e7e7e7;
    --border-color1: #00a8c6;
}

/* Tema scuro */
[data-theme="dark"] {
    --bg-color: #d38900;
    --bg-color_btn-input: #494949;
    --icon-color: #f09c00;
    --h-a-li-input: #f09c00;
    --color0: #000000;
    --color1: #494949;
    --color2: #430069;
    --color3: #e7e7e7;
    --color3_Op1: #e7e7e71a;
    --text-p-color: #e7e7e7;
    --text-s-color: #f09c00;
    --text-t-color: #f09c00;
    --border-color0: #d38900;
    --border-color1: #d38900;
}

/* STILE GENERICO PER TIPO DI ELEMENTI */
h1,
h2,
h3,
h4,
h5,
h6,
a {
    line-height: 1;
}

h3 {
    font-size: 19px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
label,
input,
button {
    color: var(--text-p-color);
}

h1 span {
    color: var(--icon-color);
}

p,
.AsideSX_ul li,
label,
.inputEmail,
.inputPassword,
.inputSearch {
    font-size: 17px;
}

header span:not(h1 span),
.spanAvviso,
a {
    font-size: 18px;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input:not(header input, .inputSearch) {
    width: 50px;
}

input:focus {
    border: none;
    outline: none;
}

input:disabled,
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

button:enabled {
    cursor: pointer;
}

input,
button:not(.btnTheme, .btnSaltaDentro) {
    border: 0;
    padding: 2px;
    background-color: var(--bg-color_btn-input);
}

input:not(.inputEmail, .inputPassword, .inputSearch),
button:not(.btnTheme, .btnSaltaDentro, .buttonSearch, .btnxmarkCartBoxArt) {
    font-size: 14px;
}

i {
    color: var(--icon-color);
}

i:not(.fa-magnifying-glass, main i, .asideCartDivBtn i, .fa-xmark) {
    font-size: 24px;
}

header,
.loginForm>div,
nav,
main,
.articolo,
aside,
.boxPiuAcq,
.cartBoxArt,
footer {
    padding: 10px;
}

header,
.loginForm,
nav,
main,
.articolo,
aside,
.boxPiuAcq,
footer,
li,
img,
input,
button:not(.btnTheme, .btnSaltaDentro) {
    border-radius: 4px;
}

/* .asideCart ul:not(:empty), */
.searchBox,
.asideCart>div:first-child {
    margin-bottom: 10px;
}

/* FINE GENERICO */


body {
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--bg-color);
    padding: 20px;
}

body>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* HEADER */
header {
    position: relative;
    background-color: var(--color1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Lo stile dei 2 elementi sottostanti centra perfettamente H1 */
.divBtnTheme {
    display: flex;
    justify-content: start;
    width: 111px;
}

.boxForW-Login {
    position: relative;
    display: flex;
    justify-content: end;
    width: 111px;
}

.btnTheme,
.btnSaltaDentro {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    font-family: inherit;
}

/* Momentaneo, servirà modale. */
.loginForm {
    display: none;
    position: absolute;
    top: 110%;
    right: -15px;
    background: var(--color1);
    border: 1px solid var(--border-color0);
    z-index: 10;
    width: calc(16vw - 3px);
    min-width: 320px;
    /* 316.4px; */
    box-shadow: 0 0 8px var(--color3);
}

.loginForm>div {
    background: var(--color3_Op1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.loginForm input {
    font-weight: 600;
}

.inputEmail {
    width: 247px;
}

.inputPassword {
    width: 207px;
}

.divBtnRegLog {
    display: flex;
    justify-content: center;
    gap: 30px;
    align-self: stretch;
}

/* NAV */
nav {
    background-color: var(--color0);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    background: var(--color1);
    border: 1px solid var(--color1);
    padding: 4px;
}

nav a {
    display: flex;
    align-items: center;
}

nav i {
    margin-right: 4px;
}

/* Contenitore di MAIN e ASIDE. */
.boxMainAside {
    display: flex;
    gap: 10px;
}

/* MAIN */
main {
    width: calc(74% - 12px);
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color1);
    /* justify-content: space-evenly; */
    gap: 10px;
}

/* DIV nel MAIN contenenti ARTICOLI */
.articolo {
    min-height: 200px;
    background: var(--color3_Op1);
    border: 1px solid var(--border-color0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

main> :nth-child(1),
main> :nth-child(2) {
    width: calc(50% - 5px);
}

main> :nth-child(n+3) {
    /* width: calc(25% - 7.5px); */
    flex: 1 1 21%;
}

/* IMG ARTICOLI */
.articolo img {
    background-color: var(--text-s-color);
    width: 92%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* P DESCRIZIONE ARTICOLI */
.articolo p:first-of-type {
    font-style: italic;
}

.articolo label {
    margin-top: 12px;
}

/* ASIDE */
aside {
    width: calc(13% - 4px);
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

aside ul,
.boxPiuAcq {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-self: stretch;
}

/* ASIDE SX */
.asideSX h2 {
    margin-bottom: 2px;
}

.searchBox {
    display: flex;
    gap: 10px;
    align-self: stretch;
}

.inputSearch {
    flex: 1 1;
    min-width: 0;
    font-weight: 600;
}

.fa-magnifying-glass {
    font-size: 17px;
}

.boxPiuAcq {
    background: var(--color3_Op1);
    border: 1px solid var(--border-color0);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    align-items: center;
}

.AsideSX_ul {
    text-align: center;
}

.AsideSX_ul li {
    padding: 4px;
}

/* ASIDE CARRELLO */
.asideCart h2 {
    display: inline-block;
}

/* p fratello adiacente a ul non vuoto */
.asideCart ul:not(:empty)+p {
    margin-top: 10px;
    text-align: center;
}

.cartBoxArt {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    background: var(--color3_Op1);
    border: 1px solid var(--border-color0);
}

.cartImg {
    width: 34%;
    height: auto;
    object-fit: cover;
    background-color: var(--color1);
}

.cartBoxArtQnt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

/* Allinea il nome dell'articolo al bordo alto del contenitore: */
.cartBoxArtQnt h3 {
    line-height: 12px;
}

.cartBoxArtQnt label {
    align-self: center
}

.btnxmarkCartBoxArt {
    line-height: 0;
}

.fa-xmark {
    color: #cc0000;
    font-size: 15px;
}

.asideCartDivBtn {
    display: flex;
    margin-top: 16px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

/* FOOTER */
footer {
    background-color: var(--color0);
    text-align: center;
}

/* AVVISO "Aggiunto al carrello!" */
/* Questo div contiene anche img articoli. */
.divAvvisoAgg {
    position: relative;
}

.spanAvviso {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--color2);
    color: var(--text-p-color);
    padding: 4px 6px;
    border: 2px solid var(--border-color1);
    border-radius: 16px;
    box-shadow: 0 0 8px var(--color3);
    z-index: 10;
    white-space: nowrap;
}

/* .divAvvisoAgg span {
  display: inline-block;
  background: url('../img/fumetto.png') no-repeat center center;
  background-size: contain;
  color: #333;
  font-weight: bold;
  font-size: 1rem;
  padding: 24px 40px 32px 40px; /* adatta i valori in base alla forma del balloon
  border: none;
  box-shadow: none;
  border-radius: 0;
  white-space: nowrap;
  min-width: 120px;opzionale, per evitare che il testo esca
  min-height: 60px; opzionale, per adattare all'immagine
  text-align: center;
} */

/* Maledico MsEdge che applica 8px di bordi che riducono la viewport non permettendo una risoluzione perfetta con le misure dei dispositivi utilizzati. */
/* 0 - 359px: layout ultra compatto, nascondi aside, riduci padding e font */
/* @media (max-width: 359px) {
} */

/* 360 - 411px: mostra aside solo sotto main, font leggermente più grandi */
/* @media (min-width: 360px) and (max-width: 411px) {
} */

/* 0/412 - 767px: layout mobile, aside sotto main, main a tutta larghezza */
@media (max-width: 767px) {
    h1 {
        font-size: 1.6em;
        /* 2em */
    }

    h2 {
        font-size: 15px;
        /* 1.2em */
    }

    h3 {
        font-size: 14px;
        /* 1em */
    }

    p,
    .spanAvviso,
    .AsideSX_ul li,
    label,
    .inputEmail,
    .inputPassword,
    .inputSearch {
        font-size: 13px;
        /* 15 17 */
    }

    input:not(.inputEmail, .inputPassword, .inputSearch),
    button:not(.btnTheme, .btnSaltaDentro, .buttonSearch, .btnxmarkCartBoxArt) {
        font-size: 12px;
        /* 12.4 14 */
    }

    .loginForm input,
    .inputSearch,
    .spanAvviso {
        font-weight: 400;
        /* 600 */
    }

    input:not(header input, .inputSearch) {
        width: 40px;
    }

    .spanAvviso {
        padding: 2px;
    }

    i:not(.fa-magnifying-glass, main i, .asideCartDivBtn i, .fa-xmark) {
        font-size: 15px;
        /* 20 24 */
    }

    .fa-magnifying-glass {
        font-size: 13px;
        /* 15 17 */
    }

    /* HEADER */
    header span:not(h1 span),
    a {
        font-size: 13px;
        /* 17.4 18 */
        font-weight: 600;
    }

    .loginForm {
        width: calc(40vw - 3px);
        min-width: 320px;
    }

    /* NAV */
    nav ul {
        gap: 10px;
    }

    nav span {
        line-height: 11px;
    }

    /* MAIN ASIDE */
    .boxMainAside {
        flex-wrap: wrap;
    }

    aside {
        max-height: 388px;
        overflow-y: auto;
        scrollbar-gutter: stable overlay;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    aside::-webkit-scrollbar {
        display: none;
    }

    aside:hover {
        scrollbar-width: thin;
        /* Firefox: mostra scrollbar sottile */
    }

    aside:hover::-webkit-scrollbar {
        width: 8px;
        height: auto
    }

    aside:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 4px;
    }

    .asideSX {
        width: calc(55% - 10px);
        order: 0;
    }

    main {
        width: 100%;
        order: 2;
    }

    /* se togli main riduci la specificità e non avrà effetto */
    main .articolo {
        /* width: calc(50% - 5px); */
        flex: 1 1 34%;
    }

    .asideCart {
        width: 45%;
        order: 1;
    }

    .cartBoxArtQnt {
        gap: 10px;
    }

    .cartBoxArtQnt h3 {
        line-height: 11px;
        /* 11 è corretto */
    }

    .fa-xmark {
        font-size: 12px;
        /* 15 */
    }
}



/* max 479px: extra perfezionamento cart e main */
@media (max-width: 479px) {

    /* NAV */
    nav ul {
        flex-wrap: wrap;
    }

    nav li {
        padding: 2px;
        /* 4 */
    }

    nav a {
        flex-direction: column;
    }

    nav i {
        margin-right: 0;
    }

    /* MAIN ASIDE */
    .asideSX {
        width: calc(58% - 10px);
    }

    /* se togli main riduci la specificità e non avrà effetto */
    main .articolo {
        width: 100%;
        flex: auto;
    }

    .asideCart {
        width: 42%;
    }

    .cartBoxArt {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    .cartImg {
        width: 68%;
    }
}




/* 768 - 1023px: layout tablet, aside a fianco, main più largo */
@media (min-width: 768px) and (max-width: 1023px) {
    h2 {
        font-size: 1.2em;
    }

    h3 {
        font-size: 1em;
    }

    p,
    .spanAvviso,
    .AsideSX_ul li,
    label,
    .inputEmail,
    .inputPassword,
    .inputSearch {
        font-size: 15px;
        /* 17 */
    }

    header span:not(h1 span),
    a {
        font-size: 17.4px;
        /* 18 */
        font-weight: 600;
    }

    main> :nth-child(n+2) .spanAvviso {
        padding: 2px;
    }

    .cartBoxArt {
        flex-direction: column;
        align-items: center;
        justify-content: unset;
    }

    .cartImg {
        width: 68%;
    }

    .cartBoxArtQnt {
        gap: 10px;
    }

    input:not(.inputEmail, .inputPassword, .inputSearch),
    button:not(.btnTheme, .btnSaltaDentro, .buttonSearch, .btnxmarkCartBoxArt) {
        font-size: 12.4px;
        /* 14 */
    }

    .fa-xmark {
        font-size: 12px;
        /* 15 */
    }

    i:not(.fa-magnifying-glass, main i, .asideCartDivBtn i, .fa-xmark) {
        font-size: 20px;
        /* 24 */
    }

    .loginForm input,
    .inputSearch,
    .spanAvviso {
        font-weight: 400;
        /* 600 */
    }

    .fa-magnifying-glass {
        font-size: 15px;
        /* 17 */
    }

    /* prendere pure i line-height */
    .cartBoxArtQnt h3 {
        line-height: 11px;
    }

    .loginForm {
        width: calc(23vw - 3px);
        min-width: 320px;
    }

    main {
        width: calc(54% - 12px);
    }

    aside {
        width: calc(23% - 4px);
    }

    main> :nth-child(1) {
        width: 100%;
    }

    main> :nth-child(n+2) {
        /* width: calc(50% - 5px); */
        flex: 1 1 34%;
    }
}

/* 1024 - 1279px: desktop standard, layout come da default ma con spaziatura maggiore */
@media (min-width: 1024px) and (max-width: 1279px) {
    h2 {
        font-size: 1.3em;
    }

    main> :nth-child(n+2) .spanAvviso {
        padding: 2px;
    }

    .loginForm {
        width: calc(23vw - 3px);
        min-width: 320px;
    }

    main {
        width: calc(50% - 12px);
    }

    aside {
        width: calc(25% - 4px);
    }

    main> :nth-child(1) {
        width: 100%;
    }

    main> :nth-child(n+2) {
        /* width: calc(50% - 5px); */
        flex: 1 1 34%;
    }
}

/* 1280/1366 - 1535px: desktop largo */
@media (min-width: 1280px) and (max-width: 1535px) {
    main> :nth-child(n+3) .spanAvviso {
        padding: 2px 4px;
    }

    .loginForm {
        width: calc(20vw - 3px);
        min-width: 320px;
    }

    main {
        width: calc(60% - 12px);
    }

    aside {
        width: calc(20% - 4px);
    }

    main> :nth-child(n+3) {
        /* width: calc(33.3% - 6.666666666666667px); */
        flex: 1 1 26%;
    }
}

/* 1536 - 1919px: desktop full hd */
@media (min-width: 1536px) and (max-width: 1919px) {
    main> :nth-child(n+3) .spanAvviso {
        padding: 4px 4px;
    }

    .loginForm {
        width: calc(16vw - 3px);
        min-width: 320px;
    }

    main {
        width: calc(68% - 12px);
    }

    aside {
        width: calc(16% - 4px);
    }

    main> :nth-child(n+3) {
        /* width: calc(33.3% - 6.666666666666667px); */
        flex: 1 1 26%;
    }
}

/* 1680/1920 - 2559px: desktop 2k (Il CSS base va già bene)
@media (min-width: 1920px) and (max-width: 2559px) {
} */

/* 2048 - 2559px (extra)
@media (min-width: 2048px) and (max-width: 2559px) {
.cartBoxArt {
        justify-content: space-evenly;
    }

    .cartImg {
        width: 34%;
        height: auto;
    }
} */

/* 2560px e oltre: desktop 4k e ultrawide */
@media (min-width: 2560px) {
    main {
        width: calc(80% - 12px);
    }

    aside {
        width: calc(10% - 4px);
    }

    main> :nth-child(1),
    main> :nth-child(2),
    main> :nth-child(3) {
        /* width: calc(33.3% - 6.666666666666667px); */
        flex: 1 1 26%;
    }
}

/* 3200 - 3839px (extra)
@media (min-width: 3200px) and (max-width: 3839px) {
} */